.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-around;
  height: 100%;
  padding: 8rem 2rem 4rem;
  max-width: 40rem;
  margin: 0 auto;
}

.content__home-actions {
  display: grid;
  grid-template-columns: 6.4rem 6.4rem;
  gap: 8rem;
  justify-content: center;
}

.content__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  overflow: auto;
  margin: 0 -2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: inset 7px 7px 15px #d9d8d8,
            inset -7px -7px 15px #f9f8f8;
}

.content__collapsed {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  overflow: hidden;
  height: 0;
  flex-shrink: 0;
  transition: height 0.3s;
}

.content__collapsed_open {
  height: auto;
}

.content__value {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

.content__word-list {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  gap: 2rem;
}

.content__letter-list {
  display: flex;
  padding: 1.5rem;
  gap: 2.4rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  flex-grow: 1;
  align-content: center;
}

.content__letter-list_answer {
  align-content: flex-start;
  gap: 4rem 0.8rem;
  flex-grow: 0;
  min-height: 9rem;
}

.answer {
  font-size: 1.8rem;
  font-weight: bold;
}

.answer_correct {
  color: var(--color-blue);
}

.answer_incorrect {
  color: var(--color-red);
}

/* dark mode */

.dark-mode .content__list {
  box-shadow: inset 7px 7px 15px #2d2d2d, inset -7px -7px 15px #333333;
}
