.header {
  position: fixed;
  max-width: 40rem;
  margin: 0 auto;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: inherit;
  border-radius: 0.8rem;
  color: var(--color-gray);
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
}

.header img {
  width: 10rem;
}

.dark-mode .header {
  color: var(--color-light-gray);
}
