*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  text-size-adjust: none;
  font-family: var(--font);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
}

body.dark-mode {
  background-color: var(--color-bg-dark);
}

.page-wrapper {
  position: relative;
  max-width: 40rem;
  margin: 0 auto;
  box-shadow: var(--shadow-1);
  height: 100%;
}

.hr {
  border: 0;
}

.text,
.header-2 {
  color: var(--color-gray);
}

.text {
  font-size: 1.6rem;
}

.header-2 {
  font-size: 2rem;
  text-align: center;
  padding: 0 2rem;
}

.header-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid var(--color-red);
  padding-bottom: 0.2rem;
  color: var(--color-red);
}

.word {
  font-size: 2.8rem;
  text-transform: capitalize;
  text-align: center;
  margin: 2rem 0;
  color: var(--color-blue);
}

/* DARK MODE */

.dark-mode .text,
.dark-mode .header-2 {
  color: var(--color-light-gray);
}
