.modal__wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 100%;
  background: rgba(0,0,0,.25);
  display: flex;
  flex-direction: column-reverse;
  transition: transform 0.3s;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.modal__wrapper_show {
  transform: translateY(-100%);
}

.modal {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

/* dark mode */

.dark-mode .modal {
  background: var(--color-bg-dark);
}
