:root {
  /* colors */
  --color-white: #fff;
  --color-gray: #555;
  --color-light-gray: #c3c3c3;
  --color-bg: #ededed;
  --color-bg-dark: #303030;
  --color-black: #000;
  --color-orange: #ff9800;
  --color-green: #4caf50;
  --color-blue: #2196f3;
  --color-red: #ff5722;

  /* shadow */
  --shadow-1: 0 0 4rem rgba(0, 0, 0, 0.1);

  /* font */
  --font: roboto, sans-serif;

  /*  */
  --max-width: 40rem;
}
