.settings {
  &__block {
    margin-bottom: 1.6rem;

    &_separator {
      position: relative;
      padding-top: 1rem;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        border-top: 1px solid var(--color-light-gray);
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-size: 1.6rem;
    padding: 0;
    margin: 1rem 0;
  }

  &__range {
    flex-grow: 1;
  }

  &__value {
    font-size: 2rem;
    font-weight: bold;
    min-width: 5rem;
    text-align: center;
    color: var(--color-blue);
  }

  &__rule-value-group {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }

  &__rule-value {
    width: 2.8rem;
  }

  &__details {
    font-size: 1.6rem;
    padding: 1rem 0 2rem;
  }
}

.dark-mode {
  .settings {
    &__title,
    &__details {
      color: var(--color-light-gray);
    }
  }
}
