label {
  user-select: none;
}

label.togglebtn {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  vertical-align: middle;
  margin: 0px 10px;
  text-align: center;
  background-color: var(--color-white);

  box-shadow: 4px 4px 8px #d5d5d5,
              -4px -4px 8px #fff,
              inset 4px 4px 8px rgba(0,0,0,.25),
              inset -4px -4px 8px rgba(255,255,255,.25);
  border: 3px solid var(--color-bg);
}

input.togglebtn:checked + label.togglebtn:not(.disabled) {
  background-color: var(--color-blue);
}

label.togglebtn > span.indicator {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  top: -5px;
  left: -10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 4px rgba(0,0,0,.1);
  transition: left 200ms ease-out;
}

input.togglebtn:checked + label.togglebtn > span.indicator {
  left: 10px;
}

.dark-mode {
  label.togglebtn > span.indicator {
    background-color: var(--color-gray);

  }

  label.togglebtn {
    background-color: var(--color-black);
    border-color: var(--color-bg-dark);
    box-shadow: 4px 4px 8px #2b2b2b,
                -4px -4px 8px #353535,
                inset 4px 4px 8px rgba(0,0,0,.25),
                inset -4px -4px 8px rgba(255,255,255,.25);
  }
}
